.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin: 0 0 0 10px;
  color: blue
}

.image-link {
  text-decoration: none;
}

.header {
  text-align: center;
  margin : 0 0 80px;
}

.image-center {
  display: block;
  margin: 0 auto;
}

.book-report {
  width: 500px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fafafa;
}

.book-cover {
  float: left;
  margin: 0 40px 0 0;
}

.blockquote {
  font-style:
  italic;
  font-size: 20px;
}

.span-opener {
  font-style: normal; 
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
}
